@import '_base.css';
@import '_utility.css';
@import '_variables.css';
@import 'components/header.css';
@import 'components/info.css';
@import 'components/contact.css';
@import 'components/social.css';
@import 'components/about.css';
@import 'components/bio.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue', cursive;
  margin: 0;
}

h1 {
  color: gold;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

li {
  background-color: red;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 3px;
}

span {
  font-size: 35px;
}

.red,
.blue,
.green,
.pink,
.gold,
.purple,
.brown {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pink {
  background-color: salmon;
}

.gold {
  background-color: gold;
}

.purple {
  background-color: purple;
}

.brown {
  background-color: brown;
}

@media screen and (min-width: 1024px) {
  .about-bio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5% 10%;
  }
}

footer {
  color: white;
  background-color: black;
  padding: 30px;
}

footer > p {
  margin: 0;
  font-size: 14px;
}
