* {
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue', cursive;
  margin: 0;
}

h1 {
  color: gold;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

li {
  background-color: red;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 3px;
}

span {
  font-size: 35px;
}

@media screen and (max-width: 1023px) {
  header {
    background-color: black;
    color: white;
    padding: 30px 0;
  }

  .header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
  }

  .header-nav > a {
    color: white;
    border-bottom: 1px solid gold;
  }
}

@media screen and (min-width: 1024px) {
  header {
    background-color: black;
    color: white;
    padding: 30px 30px 0;
    display: flex;
    justify-content: space-between;
  }
  .header-nav > a {
    color: #fff;
    padding: 10px 0px;
    margin: 0 30px;
    border-bottom: 1px solid gold;
  }
}

@media screen and (max-width: 1023px) {
  .me-container {
    background-color: black;
  }

  .me-figure {
    margin: 0;
  }

  .me {
    display: block;
    margin: 0 auto;
    border-radius: 1000px;
    max-width: 300px;
  }

  .me-fig {
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
    color: gold;
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .me-container {
    background-color: black;
    padding: 5%;
  }
  .me-figure {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .me {
    width: 30%;
    max-width: 450px;
    border-radius: 1000px;
  }

  .me-fig {
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    color: gold;
  }
}

@media screen and (max-width: 1023px) {
  .info-container {
    padding: 50px 0;
    font-weight: bold;
    max-width: 90%;
    margin: 0 auto;
  }

  .my-interets {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .info-container {
    padding: 10% 5%;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
  }

  .my-interets {
    padding: 0 50px;
  }

  .my-skills {
    padding: 0 50px;
  }
}
.red,
.blue,
.green,
.pink,
.gold,
.purple,
.brown {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pink {
  background-color: salmon;
}

.gold {
  background-color: gold;
}

.purple {
  background-color: purple;
}

.brown {
  background-color: brown;
}

@media screen and (max-width: 1023px) {
  .contact-container {
    border: 10px solid black;
    padding: 50px 0;
  }

  .contact-container a {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
  }

  .telefon {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .contact-container {
    border: 10px solid black;
    padding: 10%;
    display: flex;
    justify-content: center;
  }

  .contact-container a {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
  }

  .telefon {
    padding: 0 50px;
  }

  .mail {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1023px) {
  .social-container {
    padding: 50px 0;
  }

  .social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .social-logos > a {
    border: none;
    padding: 30px 30px 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .social-container {
    padding: 10%;
  }

  .social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-logos > a {
    border: none;
    padding: 30px 50px 0 50px;
  }
}

@media screen and (max-width: 1023px) {
  .about-me-container {
    color: white;
    background-color: black;
    margin: 0 auto;
    padding: 30px 0;
  }

  .about-me-container > h2 {
    color: gold;
  }

  .about-me-container > p {
    padding: 0;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .cv {
    padding: 50px 0;
  }

  .cv-table {
    text-align: left;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }

  .cv-table th {
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    border: 3px solid black;
  }

  .cv-table td {
    padding: 10px;
    border-radius: 3px;
    border: 3px solid black;
  }
}

@media screen and (min-width: 1024px) {
  .about-bio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5% 10%;
  }
  .about-me-container {
    color: white;
    background-color: black;
    padding: 5%;
    max-width: 50%;
  }

  .about-me-container > h2 {
    color: gold;
  }
  .cv {
    margin: 5%;
  }

  .cv-table {
    text-align: left;
  }

  .cv-table th {
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    border: 3px solid black;
  }

  .cv-table td {
    padding: 10px;
    border-radius: 3px;
    border: 3px solid black;
  }
}

footer {
  color: white;
  background-color: black;
  padding: 30px;
}

footer > p {
  margin: 0;
  font-size: 14px;
}
